<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/AdminDhash.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/course.css">
    <link rel="stylesheet" href="../css/altern.css">
    <link rel="stylesheet" href="../css/userDash.css">
    <title>result</title>
</head>
<body>
    <header id="header" style="justify-content: space-between;">
        <div class="logo">
             <img src="../images/Logo.jpg" height="80px">
         </div> 
      </header>

    <div class="main actionOption">
        <div class="Table" id="resultHeader">
            <p> These are the results of the alternative course for the <span>--- </span>  course</p>
        </div>
        
        <div class="bestResult Table" id="bestResult">
            <div class="filterResult">
              <p class="Table_header"> Result</p>
              <div class="options">
                <div class="select">
                <label> filter result</label>
                <select>
                <option value="Option 1"> Filter by college name  </option>
                <option value="Option 2">Filter by major name </option>
                <option value="Option 3">Filter by best similarity</option>
              </select>
              <button type="submit" onclick="active(filter)"> filter </button> 
            </div>
  
            <div>
              <p> <span> #OFRESULT</span> result found</p>
            </div>
      </div>
      <div class="allResult">
  
        <div class="resultCard">
          <div class="topContent">
            <p class="ratio"> 55%</p>
        </div>
        <div class="downContent">
          <p class="courseName"> course name</p>
          <p class="collegeAndMajor college"> College name </p>
          <p class="collegeAndMajor">major name</p>
        </div>
        <div class="btn">
          <button onclick="active(discription)"> description</button>
          <button onclick="active(choiseAltern)"> select</button>
        </div>
        </div>
  
        <div class="resultCard">
          <div class="topContent">
            <p class="ratio"> 55%</p>
        </div>
        <div class="downContent">
          <p class="courseName"> course name</p>
          <p class="collegeAndMajor college"> College name </p>
          <p class="collegeAndMajor">major name</p>
        </div>
        <div class="btn">
          <button onclick="active(discription)"> description</button>
          <button onclick="active(choiseAltern)"> select</button>
        </div>
        </div>
  
        <div class="resultCard">
          <div class="topContent">
            <p class="ratio"> 55%</p>
        </div>
        <div class="downContent">
          <p class="courseName"> course name</p>
          <p class="collegeAndMajor college"> College name </p>
          <p class="collegeAndMajor">major name</p>
        </div>
        <div class="btn">
          <button onclick="active(discription)"> description</button>
          <button onclick="active(choiseAltern)"> select</button>
        </div>
        </div>
        </div>
        </div>
        </div>  
    
    </div>
</body>
</html>