<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../css/AdminDhash.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="main">

        <div class="orderContent" id="orderContent">
            <p> order</p>

            <div class="FilterOrderResult">
                <div>
                    <label> filter order by</label>
                    <select name="" id="">
                        <option value=""> oldest order</option>
                        <option value=""> all order</option>
                    </select>
                </div>
                <div class="searchBox">
                    <form>
                        <input type="text" placeholder="search for an order " id="search" onkeyup="myFunction(Table1)">
                    </form>
                </div> 
            </div>
            
            <div class="orderCon">
                <div class="orderHeder2" id="orderHeder2">
                    <p> Order type </p>
                    <p> Order date</p>
                    <p> Status</p>
                </div>

                <div class="orderView">

                    <div class="studentCard" id=studentCard>
                        <div class="oneItem"> 
                    <div class="mainInformation">
                    <div>
                    <p class="name"> order name </p>
                    </div>

                    </div>
                    
                    </div>

                    <div class="contactInformation mainInformation date">
                        <p> 12/4/2020</p>
                    </div>
                    <div class="status">
                        <p> send</p>
                    </div>
                </div>

                <div class="studentCard" id=studentCard>
                    <div class="oneItem"> 
                <div class="mainInformation">
                <div>
                    <p class="name"> order name </p>
                </div>

                </div>
                
                </div>

                <div class="contactInformation mainInformation date">
                    <p> 12/4/2020</p>
                </div>
                <div class="status">
                    <p> send</p>
                </div>
            </div>

            <div class="studentCard" id=studentCard>
                <div class="oneItem"> 
            <div class="mainInformation">
            <div>
                <p class="name"> order name </p>
            </div>

            </div>
            
            </div>

            <div class="contactInformation mainInformation date">
                <p> 12/4/2020</p>
            </div>
            <div class="status">
                <p> send</p>
            </div>
        </div>
                
            </div>
        </div>

        
    </div>
</body>
</html>