<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/AdminDhash.css">
    <link rel="stylesheet" href="../css/course.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/studentInAdmin.css">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" 
    rel="stylesheet" type="text/css">
    <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap"
    rel="stylesheet"
  />
    <title> order page </title>
</head>
<body>
      <div class="main" >
          <div class="link">
              <a href=""> back </a>
          </div>
          <div class="orderContent">

            <div class="topHeader">
                <p> student </p>
            </div>

            <div class="studentInfo">

                <div class="pcontent">
                <p> student 
                </p>

                 <p class="result">
                    {{name}}
                    </p>
</div>
               <div class="pcontent">
                <p> major 
                </p>

                 <p class="result">
                   {{pro}}
                    </p>
</div>
               <div class="pcontent">
                <p> college 
                </p>

                 <p class="result">
                    {{coll}}
                    </p>
</div>
            </div>
            
           
            <div class="Table" id="complete_course"> 
    
        <div class="table-cointer" id="table-cointer"> 
          <table class="table" id="completed"> 
              <thead>
                  <tr> 
                      <th>Course name  </th>                     
                      <th>Course Code </th>
                      <th>Credit Hours </th>
                      <th>Course catagory </th>
                      <th>Course catagory </th>

                  </tr>
              </thead>
              <tbody>
            
        </tbody>
        </table>
      </div>
     </div>


          </div>
       
      </div>

</body>
</html>